<!DOCTYPE html>
<html>
<head>
  <title>TenPin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ='wrapper'>
<%= link_to '&larr; To Game List'.html_safe, root_path %>

<%= yield %>

</div>
</body>
</html>
